.base {
    padding: 16px 16px;
    background-color: #285430;
    height: max-content;
    border-radius: 12px;

    display: grid;
    min-width: 450px;
    grid-template-columns: 0.1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;

    margin: 16px;
}

.title {
    color: whitesmoke;
    font-weight: 600;
    font-size: 1.5em;
    padding-left: 8px;
    grid-row: 1;
    grid-column: 2;
    justify-self: flex-start;
    align-self: center;
}

.website {
    font-size: 0.75em;
    padding-left: 8px;
    color: whitesmoke;
    grid-row: 2;
    grid-column: 2;
    justify-self: flex-start;
    align-self: center;
}

.icon {
    /* background-color: #121212;
    padding: 2px;
    border-radius: 50%; */
    grid-row: 1 / span 2;
    grid-column: 1;
}

.totp {
    grid-row: 1 / span 2;
    grid-column: 3;
    font-size: 2.2em;
    color: whitesmoke;
    justify-self: center;
}

.trailing {
    grid-row: 1 / span 2;
    grid-column: 4;
    justify-self: flex-end;
}

.icons {
    margin: 0px 0.4em;
    padding: 8px 8px;
    background-color: #5f8d4e;
    border-radius: 50%;
    color: whitesmoke;
}

.icons:hover {
    background-color: #a4be7b;
    cursor: pointer;
}

.deleteIcon {
    grid-row: 1;
    position: relative;
    top: -2em;
    right: -1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f22a2a;
    color: whitesmoke;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;

    cursor: pointer;
}

.deleteIcon:hover {
    background-color: #f68181;
}

.deleteIcon p {
    font-size: 1em;
    font-weight: bold;
    user-select: none;
}
