.navbar {
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px 72px;
}

.title {
    color: whitesmoke;
    font-size: 1.5em;
    font-family: "Lexend", sans-serif;
    line-height: 50%;
    font-weight: 600;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5d9b6;
    border-radius: 20px;
    height: 3.5vh;
    padding: 4px;
}

.searchInput {
    background-color: #e5d9b6;
    border: 0px;
    font-family: "Lexend", sans-serif;
    font-size: 1em;
    padding-left: 4px;
    outline: none;
}
