.base {
    background-color: #181818;
    /* width: 70vw; */
    margin: 0px 64px;
    height: calc(85vh);
    border-radius: 0px 0px 16px 16px;

    /* grid-template-columns: 1fr; */
    /* grid-template-rows: repeat(auto-fill, 120px); */
}

.layout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* @media only screen and (min-width: 1060px) {
    .base {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1510px) {
    .base {
        grid-template-columns: repeat(3, 1fr);
    }
} */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.noDataText {
    position: absolute;
    align-self: center;
    justify-self: center;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);

    color: gray;
    font-size: 1.5rem;
}
