.overlay {
    position: fixed;
    top: 0px;
    left: 0px;

    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}

.base {
    position: absolute;

    top: 50%;
    left: 50%;

    height: 100px;
    width: 300px;

    transform: translateY(50%);
    transform: translateX(-50%);

    border-radius: 16px;
    padding: 16px 16px;

    background-color: #181818;

    display: flex;
    flex-direction: column;
}

.title {
    color: white;
    font-weight: 600;
    margin-bottom: 5px;
}

.content {
    color: whitesmoke;
}

.base button {
    padding: 4px 8px;
    border-radius: 8px;

    border: none;

    justify-self: flex-end;
    align-self: flex-end;

    color: whitesmoke;
    font-size: 1em;

    cursor: pointer;
}

.cancelButton {
    background-color: transparent;
}

.deleteButton {
    background-color: #f65858;
    color: #181818;
}

.deleteButton:hover {
    background-color: #f22a2a;
}
